<div class="panel panel-default" style="margin-bottom:0 !important;">
	<div class="panel-heading clearfix">
		<span class="pull-left h4">Surgical Revenue</span>
		<ul class="tool-bar">
			<li><a data-toggle="modal" data-target="#<%=@view%>-modal"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<div class="panel-body no-padding">
		<div id="surgical_revenue_<%=@view%>" class="" ></div>
	</div>
</div><!-- /panel -->
<script>
$(function () {
	$('#surgical_revenue_<%=@view%>').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: "Monthly Surgical Revenue"
		},
		subtitle: {
			text: '4Beauty Aesthetics'
		},
		xAxis: {
			categories: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
			crosshair: true
		},
		yAxis: {
			min: 0,
			title: {
				text: "Total Monthly Surgical Revenue"
			}
		},
		tooltip: {
			headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
			pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
			'<td style="padding:0"><b>${point.y:.0f}</b></td></tr>',
			footerFormat: '</table>',
			shared: true,
			useHTML: true
		},
		plotOptions: {
			column: {
				pointPadding: 0.2,
				borderWidth: 0
			}
		},
		series: eval(<%=total_monthly_revenue()%>),
		credits: {
			enabled: false
		}
	});
});
</script>
