:css
  #user_role_id{width:264px!important}
/=javascript_include_tag "bootstrap-formhelpers-phone.js"
/ Invite user popup starts
#inviteuserModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.new_form_layout
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", type: "button", "data-dismiss" => "modal"} ×
        %span.cwkp-sprite.user_heading_icon
        %h4.modal-title{style: "display:inline-block;"} Invite a Person
      .modal-body
        #alert-msg.alert.fade.in.alert-danger.show-alert{style: "display:none;"}
          %button.close{onclick: "$('#alert-msg').hide();$('#loader').hide();"} x
          #msg_div.show-msg
        = form_for(User.new, :url => invite_user_path(), :html=>{:class => "form cmn_new_popup_form", :id=>"user_invite_form"}, :method => :post, :remote => true) do |f|
          %p{style: "margin-bottom:10px"} Enter the user details here
          .row
            .form-group.col-md-6.padrht
              .form_fld
                %span.cwkp-sprite.lead_name
                =f.text_field :first_name, :required => true ,:onblur =>"this.value = jQuery.trim((this.value).replace(/^\s*/g,''))", placeholder:"First name", :class=>"form-control"
            .form-group.col-md-6.padlft
              .form_fld
                %span.cwkp-sprite.lead_name
                =f.text_field :last_name, :required => true, :onblur =>"this.value = jQuery.trim((this.value).replace(/^\s*/g,''))", placeholder: "Last name", :class=>"form-control"
          .row
            .form-group.col-md-6.padrht
              .form_fld
                %span.cwkp-sprite.lead_email
                =f.email_field :email, :required => true,:html=>{:maxlength=> "50", :class=>"form-control"}, placeholder:"Email"
              %div{id:"email_err_usr",class: "error"}
            .form-group.col-md-6.padlft
              .form_fld
                %span.cwkp-sprite.lead_phone
                =f.text_field :work_phone,:class=>"bfh-phone","data-format"=>" (ddd) ddd-dddd", :onblur => "this.value = jQuery.trim((this.value).replace(/^\s*/g,''))",:onclick =>"this.value = jQuery.trim((this.value).replace(/^\s*/g,''))", :required => true, placeholder:"Phone", :class=>"form-control"
          .row
            .form-group.col-md-6.padrht
              .form_fld.cmn_selct_fld
                %span.cwkp-sprite.lead_time_zone
                = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones,  { prompt: "- Select Time Zone -", :default=> @current_user.time_zone }, :required => true, placeholder:"Time Zone", :class=>"form-control"
            
            .form-group.col-md-6.padlft{style:"margin-top: 12px;"}
              .modal-radio.fl
                %label 
                  User Group
                =f.radio_button :admin_type, "2", :checked => true, :onclick => "$('#show_dropdown').hide();"
                %label{:for => "user_admin_type_2"}
                  %span
                  Admin
              -roles=@current_organization.roles.select("id, name") if @current_organization.present?
              -unless roles.blank?
                .modal-radio.fl
                  =f.radio_button :admin_type, "3", :onclick => "$('#show_dropdown').show();"
                  %label{:for => "user_admin_type_3"}
                    %span
                    User
                .cb
                .form-group.navbar-left#show_dropdown{style: "display:none"}
                  = f.select :role_id, options_from_collection_for_select(roles, "id","name")
                  %label.control-label{:for => "select"}
                  %i.bar
              -else
                = link_to "Click", "/settings#create_group"
                to create a group
          .modal-footer.form-layout-footer
            =f.submit "Save", :class=>"btn btn-info", :disable_with => "Please wait ...",:onclick=> "return validate_email('user_email')"
            %a{href:"#", "aria-hidden" => "true","data-dismiss" => "modal", :class=>"btn btn-default"}
              %span
                Cancel
:javascript
  
  $('#user_invite_form').bind('ajax:success', function(evt, data, status, xhr){
  $('#loader').hide();
  $("#inviteuserModal").modal('hide');
  window.location.href ="/users";
  });

  $('#user_invite_form').bind('ajax:error', function(e, xhr, status, error){
    window.location.href ="/users/pricing";
  });

  $('#user_invite_form').bind('ajax:before', function(evt, data, status, xhr){
  $('#loader').show();
  });

  $("#user_invite_form").bind("ajax:complete", function(evt, data, status, xhr) {
  if(data.responseText !== " "){
  $(".show-alert").show();
  $(".show-msg").html(data.responseText);
  }
  $('#loader').hide();
  });
 

