/- contact = @cont_type.constantize.find(@cont_id)
/ .col-md-6{style: "border: 2px dotted #ddd; height: 70px; padding: 10px; border-radius: 5px;"}
/   .fl
/     Name : 
/   .fl
/     = contact.name.present? ? contact.name : contact.first_name.present? ? contact.first_name : "NA"
/   .cb
/   .fl
/     Email : 
/   .fl
/     = contact.email

.col-md-6.form-group
  - if @deals.present?
    = select_tag "deal_id", options_from_collection_for_select(@deals, "id", "title"), :prompt => "- Select Opportunity -"
    %label.control-label.control-lbl-add-txt{:for => "input"} Select Opportunity
    %i.bar
.cb