<!--  When u change any content in this page, after changes clear the cache by thr URL "/clear_cache"       -->
<style type="text/css">
    html,body{background: #fff}
</style>
<div class="security_page">
  <div class="banner-image security_banner">
    <h1>
      Serious about your security.
    </h1>
    <p>
      The security of your data and earning your trust is core to our culture, processes and everything we build.
    </p>
  </div>
  <div class="container security_page_container">
    <div class="col-md-12 p0">
      <div class="con">
        <div class="top_m_cont_land_static static_content security_cont" style="color:#5F5F5F; font-family:Verdana,Geneva,sans-serif; line-height:24px; font-size:13px;">        
          <div style="font-size:16px;font-weight:bold;">
            Protecting data to and from your browser
          </div>
          <div style="margin-top:10px;">
            <p>
              <div class="security-text">
                Data that is transferred between your browser and our servers is encrypted using SSL. We work to maintain the highest standards for encryption and disable support for older encryption standards that are no longer considered strong. This is one reason that we drop support for older browsers aggressively.
              </div>
            </p>
          </div>

          <div class="security-title">
            Data center security
          </div>
          <div style="margin-top:10px;">
            <p>
              <div class="security-text">
                Wakeupsales and your data is hosted on Amazon Web Services (AWS), a highly scalable cloud computing platform. Amazon take physical and network security seriously. You can read more about the specifics of their approach at <a href="https://aws.amazon.com/security/" target="_blank">https://aws.amazon.com/security/</a>.
              </div>
            </p>
          </div>

          <div class="security-title">
            Access control
          </div>
          <div style="margin-top:10px;">
            <p>
              <div class="security-text">
                You choose who to invite to your WakeUpSales account and the permissions they have. Our team do not have access to login to your account. On rare occasions, it may be that we can better assist in investigating a problem you are having with WakeUpSales if we can access some part of your data in readable form. We would always ask your permission before taking this action and the process requires authorization and co-ordination across multiple personal and security layers internally.
              </div>
            </p>
          </div>
          

          <div class="security-title">
            Backup and availability
          </div>
          <div style="margin-top:10px;">
            <p>
              <div class="security-text">
                Our systems automatically replicate your data across multiple locations in real-time to maximize availability. In addition, data is further backed up hourly to ensure we can restore access to your data and the service in the unlikely event that all locations suffer complete failure. Our monitoring alerts us to any trouble and we have staff on-call at all times to quickly resolve unexpected incidents.
              </div>
            </p>
          </div>
          <div class="security-title">Thank You</div>
          <div style="margin-top:10px;">
            <p>We always appreciate your taking the time to help us find and fix security issues.<br>
            <span style="font-weight:bold">We would like to thank the following individuals who helped WakeUpSales realize and fix security issues.</span>
            </p>
            <ul style="margin-top:10px;font-weight:bold;">
                <li>
                    <a href="https://twitter.com/legacioncj" target="_blank">Cristian Joseph D. Legacion</a>
                </li>
            </ul>
            <br/>
            <p>
              <div class="security-text">
                  If you think you've discovered an issue with WakeUpSales security measures, please contact us at <a href="mailto:support@wakeupsales.com">support@wakeupsales.com</a>. Once we've received your message, we will investigate the issue. If you are interested in helping find the solution, let us know and we will involve you as much as we can.
              </div>
            </p>
                  <br/>
          <div class="security-title">
            Updates and external review
          </div>
          <div style="margin-top:10px;">
            <p>
              <div class="security-text">
                We update WakeUpSales most days and because you access WakeUpSales via your browser you’re always on the latest version. We monitor security advisories and other security community output closely. We work promptly to upgrade the service to respond to potential new threats and vulnerabilities as they are discovered. We work with certified independent specialists on a regular basis to undertake systems penetration testing and source code reviews.
              </div>
            </p>
          </div>

          <div class="security-title">
            Sensitive data
          </div>
          <div style="margin-top:10px;">
            <p>
              <div class="security-text">
                Credentials such as passwords and API keys are strongly encrypted. We maintain PCI-DSS certification for payment collection. We do not store credit cards on our systems.
              </div>
            </p>
          </div>

          <div class="security-title">
            Concerns or want to contact us?
          </div>
          <div style="margin-top:10px;">
            <p>
              <div class="security-text">
                For concerns that are urgent or sensitive, please email us on our sensitive support channel <a href="mailto:support@wakeupsales.com">support@wakeupsales.com</a>. so that it can be handled promptly by our security team.
              </div>
            </p>
          </div>
      </div>
    </div>
   </div>
    </div> 
  </div> 
</div>
<%=stylesheet_link_tag "home"%>
