.email_content{:style => "font-family: Trebuchet MS,tahoma,verdana;background:#F2F2F2;padding: 30px"}
  %div{style: "width: 80%;margin: 30px auto;background: rgb(255, 255, 255) none repeat scroll 0% 0%;padding: 20px;"}
    %div{style: "background: rgb(66, 143, 208) none repeat scroll 0% 0%;text-align: center;padding-top: 15px;box-sizing: border-box;height: 50px;"}
      %img{:src => "http://www.wakeupsales.com/assets/new_logo_i.png"}
    %div{:style => "text-align:center;"}
      %h1
        WakeUpSales Product Update
      %h2
        Sales Automation
    %div
      %img{:src => "http://www.wakeupsales.org/img/wus/summary.png", :style => "width:100%"}
    %div{:style => "border-bottom:1px solid #ddd"}
      %p
        Leads. Converting Lead to Contact., Tasks. Potential sales in CRM.,Activities. All activities on one page.,Contacts. Contact can be related to multiple leads.
    %div{:style => "text-align:center;"}
      %h2
        Google Calendar Synchronization
    %div
      %img{:src => "http://www.wakeupsales.org/img/wus/calendar.png", :style => "width:100%"}
    %div{:style => "border-bottom:1px solid #ddd"}
      %p
        Meetings,Calls, Tasks, Sending invitations to attendees., How to synchronize with your Google Calendar, Shared Calendar. User can see schedules of coworkers.
    %div{:style => "text-align:center;"}
      %h2
        Emails
    %div
      %img{:src => "http://www.wakeupsales.org/img/wus/send-email1.png", :style => "width:100%"}
    %div{:style => "border-bottom:1px solid #ddd"}
      %p
        Setup your sendgrid account.,Send Emails to any contact,Track the email open activity
    %div{:style => "text-align:center;"}
      %h2
        Activity Stream
    %div
      %img{:src => "http://www.wakeupsales.org/img/wus/activity.png", :style => "width:100%"}
    %div
      %p
        All leads activies, All tasks activiesAll contacts activies, All emails sent & open activies

