<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>New Email Message</h3>
</div>
<%= form_for(@new_message, :html => {:method => 'post', remote: true, class: "form-group"})  do |f| %>
<div class="modal-body">
  <label class="h4 control-label">Message Name</label><br/>
  <div class="input-group col-md-10">
    <%= f.text_field :name, class: " form-control"  %>
  </div>
  <label class="h4 control-label">Message Body</label><br/>
  <div class="input-group col-md-10">
    <h6>Hello {patient's name},</h6>
    <%= f.text_area :message,class: " form-control tinymce email", rows: 10  %>
  </div>
  <h6>Sincerely,</h6>
  <h6>{sender's name}</h6>
</div>
<div class="modal-footer">
  <%= f.submit "Submit", class: "btn btn-xs btn-success should-load" %>
  <button class="btn btn-xs btn-danger"  data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>
<% end %>
