.white-sticky-header.fixed-in-app-header{style: "padding-top: 22px;padding-left: 33px;"}
  %span{style: "margin-top:5px"}  
    %span.navigation_sec
      %a{href: community_plugins_path}
        Plugins
      ="/"
    %span.curr_page_name
      Create New Plugin

= render 'form'

