:css
  body{margin:0;padding:0;background:#fff}

.releases_page  
  .mid_content
    .top_mc_img_con
      %div
        / <img src="img/installation_wakeup.png" style="width:100%;">
        .release-banner
          %h1 Product Updates
          %p Stay updated about the new integrations and feature updates.
      .cb
    .cb
  .luf
    .luf-cont
      / <h2>Latest Updates & Fixes</h2>
      %p
        These updates come straight from our WakeUpSales Research  Development warehouse.
        %br/
        You can also
        %a.sub-below{:href => "javascript:void(0)"} subscribe
        to get the latest WakeUpSales updates right in your inbox.
  .version-info
    .release-date
      .fl.date-flag.green-flg
        %strong 03 March, 2017
        %span.flag-arw
      .fl.version-dv
        .version_pos  
          %h6 
          .version-detail
            %span.fnu-icon.update-icon
            %span.fnu-btn
              %a{:href => "javascript:void(0);"} Update
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 The latest version of Wakeupsales comes with some really useful updates that make this CRM a must have. It's even more secure now, along with being compatible to all the addons.
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 16 Feb, 2017
        %span.flag-arw
      .fl.version-dv
        %h6.marketplace-icon
          %img{:alt => "marketplace", :src => "../assets/new-ui/bag.png"}/
        .version-detail
          %span.fnu-icon.new-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} New
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 If you've been using Wakeupsales, you'll just love coming to our new Marketplace. With a bunch of exciting integrations available, you can really get the best out of your CRM tool.
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 13 Feb, 2017
        %span.flag-arw
      .fl.version-dv
        %h6
        .version-detail
          %span.fnu-icon.update-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} Update
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 The Biggest update to WakeUpSales ever, comes with Tasks Module, Multi-user Collaboration, Daily Updates, Files Database, Report Generation  so much more. All of this with a beautiful new UI make this a must have.
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 25 Nov, 2016
        %span.flag-arw
      .fl.version-dv
        %h6
        .version-detail
          %span.fnu-icon.new-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} New
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 WakeUpSales allow you to invite multiple users from your CRM as admin user or non admin user. You can manage Non admin users group from your settings page.
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 22 Oct, 2016
        %span.flag-arw
      .fl.version-dv
        %h6
        .version-detail
          %span.fnu-icon.new-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} New
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 WakeUpSales allow you to generate invoice for your Leads from your CRM. The invoice generate process is completely FREE.
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 28 Sept, 2016
        %span.flag-arw
      .fl.version-dv
        %h6
        .version-detail
          %span.fnu-icon.new-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} New
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 WakeUpSales allow you to import data from Zoho CRM, Sugar VRM, Fatfree CRM and you can import your own CSV file with similar format we have given.
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 15 Sept, 2016
        %span.flag-arw
      .fl.version-dv
        %h6
        .version-detail
          %span.fnu-icon.new-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} New
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6
            Export data on CSV fromat is now integrated with WakeUpSales CRM application.Through this feature you can take a backup of all your CRM data.
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 6 Sept, 2016
        %span.flag-arw
      .fl.version-dv
        %h6
        .version-detail
          %span.fnu-icon.new-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} New
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 You can import your gmail contacts  to your WakeUpSales CRM application is now available Completely FREE. The installation process details are described in How to integrate page.
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 22 Aug, 2016
        %span.flag-arw
      .fl.version-dv
        %h6
        .version-detail
          %span.fnu-icon.new-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} New
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 Email tracker is now integrated with WakeUpSales CRM application completely FREE. You can track your email opens count send through your CRM application. The installation process details are described in installation Guide for Email tracker.
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 10 Aug, 2016
        %span.flag-arw
      .fl.version-dv
        %h6
        .version-detail
          %span.fnu-icon.new-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} New
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 Wakeupsales CRM application is now released google calender sync. The events are automatically added to your google calender.
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 10 Aug, 2016
        %span.flag-arw
      .fl.version-dv
        %h6
        .version-detail
          %span.fnu-icon.new-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} New
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 WakeUpSales CRM application is now available for windows. The installation process details are described in installation Guide for windows page
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 19 Jul, 2016
        %span.flag-arw
      .fl.version-dv
        %h6
        .version-detail
          %span.fnu-icon.new-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} New
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 We have implemented google contact API to collect the contacts from your gmail account  import in WakeUpSales contact.
        .cb
      .cb
    .release-date
      .fl.date-flag.green-flg
        %strong 20 Jun, 2016
        %span.flag-arw
      .fl.version-dv
        %h6
        .version-detail
          %span.fnu-icon.new-icon
          %span.fnu-btn
            %a{:href => "javascript:void(0);"} New
      .fr.realease-desc.green-btn
        .fl
          %span.orange-icon
          %a{:href => "javascript:void(0);"} Released
        .fl.release-info
          %h6 Released WakeUpSales CRM community edition. where you can manage your cantacts, leads  tasks.
        .cb
      .cb
    .vertical-line
.home-page  
  %section.sft-from.e-crm
    .wrapper
      %h2 
        The Easiest CRM + Sales Automation Tool
        %br
        Try for 90days Free!
      - @user = User.new
      = form_for @user, :url => save_user_path, :html=>{:class => "form signup-form"} do |f|
        %span.inp-fld
          = f.email_field :email, :required => true, :placeholder=>"Email"
        %span.inp-fld  
          = f.text_field "organization_name", :required => true, :placeholder => "Company Name"
        %span.inp-fld  
          = f.submit "Get Started", :disable_with => "Submitting....", :onclick=> "return chk_validemail('beta_request_email');track_signup();"
          %small
            No credit card required

:javascript
  $('.sub-below').click(function() {
    var target = '#subscribe_email';
    var $target = $(target);
    $('html, body').stop().animate({'scrollTop': $target.offset().top-$('header').height()}, 'slow', 'swing', function () {                                
  }); 
    $('#subscribe_email').focus();;
  }); 